<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Members</title>

    <link rel="stylesheet" type="text/css" href="../../css/members/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../css/members/demo.css" />

    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="../../css/members/component.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />

    <!-- Bootstrap core CSS -->

</head>


<body style="background-color:black">
    
    <section class="description">
        <p style="color: mistyrose;">三年级</p>
    </section>


    <div class="container">
        <section id="photostack-1" class="photostack photostack-start">
            <div>
                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/three/1.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Danna <br />Northeastern University</h2>
                    </figcaption>
                </figure>

                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/three/2.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Rose <br />Boston University</h2>
                    </figcaption>
                </figure>

                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/three/3.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Peggy <br />Northeastern University</h2>
                    </figcaption>
                </figure>

                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/three/4.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Maggie<br />Northeastern University</h2>
                    </figcaption>
                </figure>

                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/three/5.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">鳕鱼<br />Northeastern University</h2>
                    </figcaption>
                </figure>

                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/three/6.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Kim<br />Boston University</h2>
                    </figcaption>
                </figure>
            </div>
        </section>



        <section class="description">

            <p style="color: mistyrose;">二年级</p>
        </section>

        <section id="photostack-2" class="photostack photostack-start">
            <div>
                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/two/1.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">小抽<br />Boston University</h2>
                    </figcaption>
                </figure>

                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/two/2.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Mingyi<br />Northeastern University</h2>
                    </figcaption>
                </figure>




                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/two/3.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Iris<br />Boston University</h2>
                    </figcaption>
                </figure>


                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/two/4.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Bambi<br />Suffolk University</h2>
                    </figcaption>
                </figure>


                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/two/5.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Candy<br />Tufts University</h2>
                    </figcaption>
                </figure>

                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/two/6.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Jenny<br />Northeastern University</h2>
                    </figcaption>
                </figure>
            </div>
        </section>



        <section class="description">
            <p style="color: mistyrose;">一年级</p>
        </section>

        <section id="photostack-3" class="photostack">
            <div>
                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/one/1.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Kathy<br />Boston University</h2>
                    </figcaption>
                </figure>
                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/one/2.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Josie<br />Boston University</h2>
                    </figcaption>
                </figure>

                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/one/3.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Serena<br />The Newman High School Junior</h2>
                    </figcaption>
                </figure>


                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/one/4.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">樊帆<br />Bently University</h2>
                    </figcaption>
                </figure>


                <figure>
                    <a class="photostack-img">
                        <img src="../../image/member-image/one/5.jpg" />
                    </a>
                    <figcaption>
                        <h2 class="photostack-title">Silvia<br />Boston University</h2>
                    </figcaption>
                </figure>

            </div>
        </section>

    </div><!-- /container -->


   
<script type="text/javascript">


      
new Photostack( document.getElementById( 'photostack-1' ), {
	callback : function( item ) {
		//console.log(item)
	}
} );
new Photostack( document.getElementById( 'photostack-2' ), {
	callback : function( item ) {
		//console.log(item)
	}
} );
new Photostack( document.getElementById( 'photostack-3' ), {
	callback : function( item ) {
		//console.log(item)
	}
} );
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>