<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../css/home.css" rel="stylesheet" />


</head>
<body>
    

         
      
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
                 


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Mamma Mia (맘마미아) - KARA (카라)
                    <span class="text-muted">Dance Cover by G-Power from Boston</span>
                </h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GU9D590BoTg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="../image/image-home/logo.jpg">
            </div>
        </div>



        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">
                    Apink - Mr. Chu
                    <span class="text-muted">G-POWER Dance Cover.</span>
                </h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/f-OAq_Yc-4A" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="../image/image-home/logo.jpg">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Beyoncé - Dance For You
                    <span class="text-muted">G-Power Cover</span>
                </h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/k73Xddavop8?list=PLRs0SEVBkbtyavweI46X3HgzaUe_vYLRY" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="../image/image-home/logo.jpg">
            </div>


        </div>

        <hr class="featurette-divider">
        <div>
            <img class="featurette-image img-responsive" src="../image/image-home/link.jpg">
        </div>
        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <footer>
            <p class="pull-right">
            </p>
            <p>
                Youtube: <a href="https://www.youtube.com/channel/UCqHSE-KzYfYTW72A9Vd99lA">女力G-Power</a> |
                Instagram:GEEPOWERRR |
                Email: bostondanceclub@gamil.com |
                <a href="https://docs.google.com/forms/d/1V5KSVpfEFObb29DKsCsqQBoszl6YievRwTqdK7LqBWw/viewform?c=0&w=1&from=groupmessage&isappinstalled=0#rd">GPower招新表</a>
             </p>
        </footer>

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--add this tow link to each page to get things work-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</body>
</html>
