<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Project idea</title>
    <link href="../../css/profile.css" rel="stylesheet" />
</head>
<body>
    <div ng-show="currentUser.roles.indexOf('admin')> -1">
        <h2 style="color: azure">Welcome {{currentUser.username}}</h2>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table class="table table-striped" border="0">
                <thead>
        
                    <tr class="info">
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Username</th>
                        <th>Remove this user</th>
                        
                    </tr>

                </thead>
                <tbody>
                    <tr class="warning" ng-repeat="user in users">
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.username}}</td>
                        <td>
                        <button ng-show="user.roles.indexOf('admin') <= -1"
                                 ng-click="remove(user._id)" 
                                class="btn btn-danger"
                                 id="#">
                            Remove this User
                            </button>
                        </td>
                     
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>

</body>
</html>
