<!DOCTYPE html>
<html>
<head>
    <title>contact</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Photos</title>
    <link href="../../css/photos.css" rel="stylesheet" />
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../css/photo-css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../css/photo-css/sim-prev-anim.css" rel="stylesheet" type="text/css" />
</head>


<body>


    <div class="albums">
        <div class="albums-inner">
            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-1">
                    <img src="../../album/yanchu/1.jpg" class="all studio" />
                    <img src="../../album/yanchu/6.jpg" class="all studio" />
                    <img src="../../album/yanchu/3.jpg" class="all studio" />
                    <img src="../../album/yanchu/4.jpg" class="all studio" />
                    <img src="../../album/yanchu/11.jpg" class="all studio" />
                    <img src="../../album/yanchu/2.jpg" class="all studio" />
                </div>
                <div class="albums-tab-text">
                    <a href="../../3D-show-room/performance-photos.html" target="_blank">
                        Performance
                    </a>
                    <span></span>
                </div>
            </div>

            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-2">
                    <img src="../../album/2015-Oct-BU/1.jpg" class="all studio" />
                    <img src="../../album/2015-Oct-BU/7.jpg" class="all studio" />
                    <img src="../../album/2015-Oct-BU/3.jpg" class="all studio" />
                    <img src="../../album/2015-Oct-BU/4.jpg" class="all studio" />
                    <img src="../../album/2015-Oct-BU/5.jpg" class="all studio" />
                    <img src="../../album/2015-Oct-BU/6.jpg" class="all studio" />
                    <img src="../../album/2015-Oct-BU/2.jpg" class="all studio" />
                </div>
                <div class="albums-tab-text">
                    <a href="3D-show-room/three-photos.html" target="_blank">
                        2015 BU
                    </a>
                    <span></span>
                </div>
            </div>


            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-3">
                    <img src="../../album/juhui/1.jpg" class="all studio" />
                    <img src="../../album/juhui/3.jpg" class="all studio" />
                    <img src="../../album/juhui/4.jpg" class="all studio" />
                    <img src="../../album/juhui/5.jpg" class="all studio" />
                    <img src="../../album/juhui/6.jpg" class="all studio" />
                    <img src="../../album/juhui/11.jpg" class="all studio" />
                    <img src="../../album/juhui/10.jpg" class="all studio" />

                </div>
                <div class="albums-tab-text">
                    <a href="../../3D-show-room/party-photos.html" target="_blank">Party</a>
                    <span></span>
                </div>
            </div>


            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-4">
                    <img src="../../album/small-audition/1.jpg" class="all studio" />
                    <img src="../../album/small-audition/2.jpg" class="all studio" />
                    <img src="../../album/small-audition/3.jpg" class="all studio" />
                    <img src="../../album/small-audition/4.jpg" class="all studio" />
                    <img src="../../album/small-audition/5.jpg" class="all studio" />
                    <img src="../../album/small-audition/6.jpg" class="all studio" />
                    <img src="../../album/small-audition/12.jpg" class="all studio" />
                </div>
                <div class="albums-tab-text">
                    <a href="../../3D-show-room/small-audition.html" target="_blank">Small audition</a>

                    <span></span>
                </div>
            </div>

            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-5">
                    <img src="../../album/richang/1.jpg" class="all studio" />
                    <img src="../../album/richang/7.jpg" class="all studio" />
                    <img src="../../album/richang/3.jpg" class="all studio" />
                    <img src="../../album/richang/4.jpg" class="all studio" />
                    <img src="../../album/richang/5.jpg" class="all studio" />
                    <img src="../../album/richang/6.jpg" class="all studio" />
                    <img src="../../album/richang/2.jpg" class="all studio" />
                </div>
                <div class="albums-tab-text">
                    <a href="../../3D-show-room/richang.html" target="_blank">Practice</a>

                    <span></span>
                </div>
             </div>


            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-6">
                    <img src="../../album/party/4.jpg" class="all studio" />
                    <img src="../../album/party/11.jpg" class="all studio" />
                    <img src="../../album/party/5.jpg" class="all studio" />
                    <img src="../../album/party/2.jpg" class="all studio" />
                    <img src="../../album/party/4.jpg" class="all studio" />
                    <img src="../../album/party/8.jpg" class="all studio" />
                    <img src="../../album/party/1.jpg" class="all studio" />
                </div>
                <div class="albums-tab-text">
                    <a href="../../3D-show-room/party.html" target="_blank">Party</a>

                    <span></span>
                </div>           
             </div>


            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-7">
                    <img src="../../album/idk/1.jpg" class="all studio" />
                    <img src="../../album/idk/2.jpg" class="all studio" />
                    <img src="../../album/idk/3.jpg" class="all studio" />
                    <img src="../../album/idk/4.jpg" class="all studio" />
                    <img src="../../album/idk/7.jpg" class="all studio" />
                    <img src="../../album/idk/6.jpg" class="all studio" />
                    <img src="../../album/idk/5.jpg" class="all studio" />
                </div>
                <div class="albums-tab-text">
                    <a href="../../3D-show-room/idk.html" target="_blank">idk</a>

                    <span></span>
                </div>                       </div>

            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-8">
                    <img src="threeDphotos/1.jpg" class="all studio" />
                    <img src="threeDphotos/2.jpg" class="all studio" />
                    <img src="threeDphotos/3.jpg" class="all studio" />
                    <img src="threeDphotos/4.jpg" class="all studio" />
                    <img src="threeDphotos/5.jpg" class="all studio" />
                    <img src="threeDphotos/6.jpg" class="all studio" />
                    <img src="threeDphotos/7.jpg" class="all studio" />
                </div>
                <div class="albums-tab-text">.sim-anim-8 <span>(9 pictures)</span></div>
            </div>

            <div class="albums-tab">
                <div class="albums-tab-thumb sim-anim-9">
                    <img src="../../album/2014-02-02/4.jpg" class="all studio" />
                    <img src="../../album/2014-02-02/2.jpg" class="all studio" />
                    <img src="../../album/2014-02-02/12.jpg" class="all studio" />
                    <img src="../../album/2014-02-02/4.jpg" class="all studio" />
                    <img src="../../album/2014-02-02/9.jpg" class="all studio" />
                    <img src="../../album/2014-02-02/10.jpg" class="all studio" />
                    <img src="../../album/2014-02-02/1.jpg" class="all studio" />
                    <img src="../../album/2014-02-02/8.jpg" class="all studio" />
                    <img src="../../album/2014-02-02/9.jpg" class="all studio" />
                </div>
                <div class="albums-tab-text">
                    <a href="../../3D-show-room/two-photos.html" target="_blank">
                        First Team Photoshot
                    </a><span></span>
                </div>
            </div>


        </div>

    </div>

    <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
    </div>
</body>
</html>